@media screen and ( max-width : 360px ) {

  .container-longin-page {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .login-input {
    border: 2px solid lightblue;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 2px lightslategray;
    font-size: 20px;
    margin: 8px 0;
    padding: 6px 8px;
  }

  .login-button {
    border-radius: 8px;
    font-size: 20px;
    margin: 12px 0;
    padding: 6px 12px;
    width: 150px;
  }
}

/* .main-longin-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
} */
