.not-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
}

.top-text {
  align-self: center;
  color: var(--main);
}

.middle-text {
  align-self: center;
  color: var(--main);
}

.not-found {
  align-self: center;
  animation: glow 1.2s ease infinite;
  color: transparent;
  font-size: 50px;
  text-shadow: 1px 1px 2px var(--tertiary);
}

@keyframes glow {

  50% {
    color: var(--tertiary);
    font-size: 55px;
<<<<<<< HEAD
    text-shadow: 3px 3px 2px var(--main) , 4px 4px 2px var(--tertiary) , 5px 5px
      3px var(--secondary) , 6px 6px 3px var(--tertiary) , 7px 7px 4px var(--secondary);
=======
    text-shadow: 3px 3px 2px var(--main) , 4px 4px 2px var(--tertiary) , 5px 5px 3px
      var(--secondary) , 6px 6px 3px var(--tertiary) , 7px 7px 4px var(--secondary);
>>>>>>> 20073caa677aee14c9731ce295c00c6663defb2f
  }

  100% {
    color: var(--main);
    font-size: 50px;
    text-shadow: 1px 1px 2px var(--tertiary) , 2px 2px 2px var(--secondary) , 3px
      3px 3px var(--tertiary) , 4px 4px 3px var(--secondary);
  }
}
