@media screen and ( max-width : 360px ) {

  .main-section {
    bottom: 70px;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    position: absolute;
    text-align: center;
    top: 150px;
  }

  .recomendation-card {
    border: 1px solid lightblue;
    border-radius: 12px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 800;
    height: fit-content;
    margin: 8px 5px;
    padding: 4px 5px;
    text-align: center;
    transition: all 0.6s ease;
    width: 180px;
  }

  .recipe-img {
    border-radius: 12px;
    height: 170px;
    width: 100%;
  }
}
